# Assignment 4

### Question 1.
part 1. Using open, and write.  
a. Create a dictionary with the following:  
Sport name and the number of players save it to a file.  

sports = { 'basketball': 10, ... }  
 
Save it to a text file, and load the file and print it on the screen.  

part 2. Using Pickle save the dictionary into a binary file and load and print it out  
  
part 3. Repeat the same steps using Shelve.  
  
part 4. Repeat the same steps using Json.

In [1]:
# Part 1: Create a dictionary for a Sport team

f = open('mySportsTeam.txt', 'w')
f.write("Sport: Football [NFL]\n")
f.write("Team Name: New Orleans Saints\n")
f.write("Number of Players: 11\n")
f.write("\n")
f.write("\n")

f.close()

In [2]:
f = open('mySportsTeam.txt', 'w')

# Adding 11 players
class football_player:
    def __init__(self, name, number, position):
        self.name = name
        self.number = number
        self.position = position

  
player01 = football_player("Drew Brees", 9, "QB")
player02 = football_player("Kurt Coleman", 39, "S")
player03 = football_player("Austin Carr", 80, "WR")
player04 = football_player("Demario Davis", 56, "LB")
player05 = football_player("Justin Hardee", 34, "DB")
player06 = football_player("Cameron Jordan", 94, "DE")
player07 = football_player("Mark Ingram II", 22, "RB")
player08 = football_player("Thomas Morstead", 6, "P")
player09 = football_player("Michael Thomas", 13, "WR")
player10 = football_player("Alvin Kamara", 41, "RB")
player11 = football_player("Cameron Meredith", 81, "WR")

players = [player01, player02, player03, player04, player05, player06, player07, player08, player09, player10, player11]
    
with open('mySportsTeam.txt', 'w') as file:
    for p in players:
        file.write(str("%s\n" % p))
        
file = open('mySportsTeam.txt', 'r')
file.read()

'<__main__.football_player object at 0x0000020540174390>\n<__main__.football_player object at 0x00000205401A0D68>\n<__main__.football_player object at 0x00000205401A0D30>\n<__main__.football_player object at 0x00000205401A0DA0>\n<__main__.football_player object at 0x00000205401A0DD8>\n<__main__.football_player object at 0x00000205401A0E10>\n<__main__.football_player object at 0x00000205401A0E48>\n<__main__.football_player object at 0x00000205401A0E80>\n<__main__.football_player object at 0x00000205401A0EB8>\n<__main__.football_player object at 0x00000205401A0EF0>\n<__main__.football_player object at 0x00000205401A0F28>\n'

In [5]:
# Part 2: Using pickle
import pickle
with open('mySportsTeam.txt', mode = 'wb') as f:
    pickle.dump(players, f)

### Question 2. 
Why is shelves preferred over pickle for large data sets?

Answer:
Pickle is for serializing some object as a bytestream in a file.
Shelve builds on top of pickle, and implements a serialization dictionary where objects are pickled, but associated with a key (some string), so you can load your shelved data file and access your pickled objects via keys. 
Applying both to datastreams menas that pickle will run slower, while shelves will save memory with a smart approach to repeated values.

### Question 3. 
Using SQL Queries, create a database using python's sqlite3 module  

We would like to have a database for an Role playing game.  In this database there are 3 tables.  

Character table.  
<pre>
CharacterId INTEGER, Name TEXT, Race TEXT, Gender TEXT, Class TEXT, Health INTEGER, Mana INTEGER, InventoryID INTEGER
</pre>
Inventory table.
<pre>
InventoryId INTEGER, ItemId INTEGER, Quantity INTEGER
</pre>

Item table
<pre>
ItemId INTEGER, ItemName TEXT, ItemDescription TEXT, Consumable TINYINT 
</pre>

Insert the following entries once the tables are created
<pre>
CharacterId, Race, Gender, Class, Health, Mana, InventoryId
0, Bruce, Human, Male, Fighter, 100, 0, 0
1, Thrall, Orc, Male, Warrior, 120, 0, 1
2, Legolas, Elf, Male, Archer, 100, 0, 2
3, Edwyrd, Elf, Male, Fighter, 100, 0, 3
4, Lixiss, Elf, Female, Mage, 80, 100, 4
5, Jasmine, Fairy, Female, Mage, 80, 120, 5
</pre>

Insert the following entires to the Items table
<pre>
ItemId, ItemName, ItemDescription, Consumable
0, sword, a sharp blade, 0
1, axe, good for chopping things, 0
2, hammer, heavy but good for blacksmiths, 0
3, staff, long reaching stick, 0
4, bow, good for long ranged attacks, 0
5, quiver of arrows, required by the bow, 0
6, book, full of spells, 0
7, light mana potion, replish mana, 1
8, med mana potion, replish more mana, 1
9, light health potion, cures light wounds, 1
10, med health potion, cures medium wounds, 1
</pre>

Insert the following entries to the Inventory table
<pre>
InventoryId, ItemId, Quantity
0, 0, 1
0, 9, 5
1, 1, 1
1, 9, 2
1, 10, 2
2, 4, 1
2, 5, 30
2, 9, 4
3, 0, 1
3, 9, 4
4, 3, 1
4, 7, 5
5, 6, 1
5, 8, 3
</pre>

In [9]:
import sqlite3

db = sqlite3.connect('rpg_characters.sqlite')
db.execute("CREATE TABLE IF NOT EXISTS Characters ( CharacterId INTEGER, Name TEXT, Race TEXT, Gender TEXT, Class TEXT, Health INTEGER, Mana INTEGER, InventoryID INTEGER)")
db.execute("INSERT INTO Characters ( CharacterId, Name, Race, Gender, Class, Health, Mana, InventoryID) VALUES (0, 'Bruce', 'Human', 'Male', 'Fighter', 100, 0, 0) ")
db.execute("INSERT INTO Characters ( CharacterId, Name, Race, Gender, Class, Health, Mana, InventoryID) VALUES (1, 'Thrall', 'Orc', 'Male', 'Warrior', 120, 0, 1) ")
db.execute("INSERT INTO Characters ( CharacterId, Name, Race, Gender, Class, Health, Mana, InventoryID) VALUES (2, 'Legolas', 'Elf', 'Male', 'Archer', 100, 0, 2) ")
db.execute("INSERT INTO Characters ( CharacterId, Name, Race, Gender, Class, Health, Mana, InventoryID) VALUES (3, 'Edwyrd', 'Elf', 'Male', 'Fighter', 100, 0, 3) ")
db.execute("INSERT INTO Characters ( CharacterId, Name, Race, Gender, Class, Health, Mana, InventoryID) VALUES (4, 'Lixiss', 'Elf', 'Female', 'Mage', 80, 100, 4) ")
db.execute("INSERT INTO Characters ( CharacterId, Name, Race, Gender, Class, Health, Mana, InventoryID) VALUES (5, 'Jasmine', 'Fairy', 'Female', 'Mage', 80, 120, 5) ")

db = sqlite3.connect('rpg_inventory.sqlite')
db.execute("CREATE TABLE IF NOT EXISTS Inventory ( InventoryId INTEGER, ItemId INTEGER, Quantity INTEGER)")
db.execute("INSERT INTO Inventory ( InventoryId, ItemId, Quantity) VALUES (0, 0, 1) ")
db.execute("INSERT INTO Inventory ( InventoryId, ItemId, Quantity) VALUES (0, 9, 5) ")
db.execute("INSERT INTO Inventory ( InventoryId, ItemId, Quantity) VALUES (1, 1, 1) ")
db.execute("INSERT INTO Inventory ( InventoryId, ItemId, Quantity) VALUES (1, 9, 2) ")
db.execute("INSERT INTO Inventory ( InventoryId, ItemId, Quantity) VALUES (1, 10, 2) ")
db.execute("INSERT INTO Inventory ( InventoryId, ItemId, Quantity) VALUES (2, 4, 1) ")
db.execute("INSERT INTO Inventory ( InventoryId, ItemId, Quantity) VALUES (2, 5, 30) ")
db.execute("INSERT INTO Inventory ( InventoryId, ItemId, Quantity) VALUES (2, 9, 4) ")
db.execute("INSERT INTO Inventory ( InventoryId, ItemId, Quantity) VALUES (3, 0, 1) ")
db.execute("INSERT INTO Inventory ( InventoryId, ItemId, Quantity) VALUES (3, 9, 4) ")
db.execute("INSERT INTO Inventory ( InventoryId, ItemId, Quantity) VALUES (4, 3, 1) ")
db.execute("INSERT INTO Inventory ( InventoryId, ItemId, Quantity) VALUES (4, 7, 5) ")
db.execute("INSERT INTO Inventory ( InventoryId, ItemId, Quantity) VALUES (5, 6, 1) ")
db.execute("INSERT INTO Inventory ( InventoryId, ItemId, Quantity) VALUES (5, 8, 3) ")

db = sqlite3.connect('rpg_item_table.sqlite')
db.execute("CREATE TABLE IF NOT EXISTS Itemtable ( ItemId INTEGER, ItemName TEXT, ItemDescription TEXT, Consumable TINYINT)")
db.execute("INSERT INTO Itemtable (ItemId, ItemName, ItemDescription, Consumable) VALUES (0, 'sword', 'a sharp blade', 0) ")
db.execute("INSERT INTO Itemtable (ItemId, ItemName, ItemDescription, Consumable) VALUES (1, 'axe', 'good for chopping things', 0) ")
db.execute("INSERT INTO Itemtable (ItemId, ItemName, ItemDescription, Consumable) VALUES (2, 'hammer', 'heavy but good for blacksmiths', 0) ")
db.execute("INSERT INTO Itemtable (ItemId, ItemName, ItemDescription, Consumable) VALUES (3, 'staff', 'long reaching stick', 0) ")
db.execute("INSERT INTO Itemtable (ItemId, ItemName, ItemDescription, Consumable) VALUES (4, 'bow', 'good for long ranged attacks', 0) ")
db.execute("INSERT INTO Itemtable (ItemId, ItemName, ItemDescription, Consumable) VALUES (5, 'quiver of arrows', 'required by the bow', 0) ")
db.execute("INSERT INTO Itemtable (ItemId, ItemName, ItemDescription, Consumable) VALUES (6, 'book', 'full of spells', 0) ")
db.execute("INSERT INTO Itemtable (ItemId, ItemName, ItemDescription, Consumable) VALUES (7, 'light mana potion', 'replish mana', 1) ")
db.execute("INSERT INTO Itemtable (ItemId, ItemName, ItemDescription, Consumable) VALUES (8, 'med mana potion', 'replish more mana', 1) ")
db.execute("INSERT INTO Itemtable (ItemId, ItemName, ItemDescription, Consumable) VALUES (9, 'light health potion', 'cures light wounds', 1) ")
db.execute("INSERT INTO Itemtable (ItemId, ItemName, ItemDescription, Consumable) VALUES (10, 'med health potion', 'cures medium wounds', 1) ")

OperationalError: database is locked

Once all the data have been added, do the following:

a. display all the characters, display all the items ( this will require SELECT * statement)  
b. display only the character who are elves (this will require the WHERE clause)  
c. display the inventory for each character (this will require a INNER JOIN with the 3 tables)

In [8]:
cursor = db.cursor()
for row in cursor.execute("SELECT * FROM Characters"):
    print(row)
    
cursor = db.cursor()
for row in cursor.execute("SELECT * FROM Itemtable"):
    print(row)
    
    
cursor = db.cursor()
for row in cursor.execute("SELECT * FROM Characters WHERE Class ='Elf'"):
    print(row)   
    
cursor = db.cursor()
for row in cursor.execute("SELECT * FROM Itemtable INNER JOIN Inventory ON Characters.InventoryID"):
    print(row)

OperationalError: no such table: Characters