# SQL with Python

In [7]:
import sqlite3

db = sqlite3.connect('contacts.sqlite')
db.execute("CREATE TABLE IF NOT EXISTS Contacts (ContactID INTEGER, FirstName TEXT, LastName TEXT)")
db.execute("INSERT INTO Contacts (ContactID, FirstName, LastName) VALUES (0, 'Gil', 'Costa')")
db.execute("INSERT INTO Contacts (ContactID, FirstName, LastName) VALUES (1, 'Joseph', 'Klimber')")
db.execute("INSERT INTO Contacts (ContactID, FirstName, LastName) VALUES (2, 'José', 'Ruela')")
db.execute("INSERT INTO Contacts (ContactID, FirstName, LastName) VALUES (3, 'Maria', 'Candongas')")
db.execute("INSERT INTO Contacts (ContactID, FirstName, LastName) VALUES (4, 'John', 'Snow')")

cursor = db.cursor()
for row in cursor.execute("SELECT * FROM Contacts"):
    print(row)
cursor.close()

db.close()

(0, 'Gil', 'Costa')
(1, 'Joseph', 'Klimber')
(2, 'José', 'Ruela')
(3, 'Maria', 'Candongas')
(4, 'John', 'Snow')